@font-face {
    font-family: 'DMSextra';
    src: url('../font/DMSans-ExtraBold.woff2') format('woff2'),
        url('../font/DMSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSb';
    src: url('../font/DMSans-Bold.woff2') format('woff2'),
        url('../font/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSr';
    src: url('../font/DMSans-Regular.woff2') format('woff2'),
        url('../font/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSm';
    src: url('../font/DMSans-Medium.woff2') format('woff2'),
        url('../font/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
